<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="V1 Unit Tests">
            <directory suffix="Test.php">./app/API/V1/Tests</directory>
            <exclude>./app/API/V1/routes.php</exclude>
            <exclude>./app/API/V1/Tests/UnitTestCase</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory suffix=".php">./app/API/V1/Tests/</directory>
                <directory suffix=".php">./app/API/V1/Http/Controllers/</directory>
                <file>./app/API/V1/routes.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="API_KEY" value="testing"/>
    </php>
</phpunit>
